.feedcontent {
  height: 100px;
  width: 100%;
  /* background-color: purple; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-bottom: 1px solid #EDEDED;
}

.feedcontent:hover {
  background-color: #EDEDED;
}

.preview {
  height: inherit;
}

.info {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  margin: 0;
}

.video-title {
  font-size: 14px;
  margin: 5px 0;
  margin-left: 10px;
}

.duration {
  font-size: 12px;
  margin: 0px 10px;
}
