.SignIn-Wrapper {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.SignIn-Card {
  display: inline-flex;
  flex-direction: column;
  margin: auto;

  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 300px;
  width: 400px;
  background-color: white;
  box-shadow: 0px 0px 8px #888888;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;

}

.iviato-header {
  max-width: 150px;
  min-width: 100px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.input-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  min-width: inherit;
  max-height: 30%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 25px;
  margin: auto;
  align-items: baseline;
}

.signup-input {
  min-width: 100%;
}

.button-div {
  height: 50px;
  width: 70%;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.form-header {
  margin: 0;
}
